@font-face {
  font-family: "Alma Mono";
  src: url("../fonts/AlmaMono-Bold.ttf");
}

$default-font-family: "Alma Mono", "Courier New", Courier, monospace;
$primary-color: rgba(#c4a0f9, 1) !default;
$secondary-color: rgba(#f9a0d6, 1) !default;
$surface-color: rgba(#fdeae3, 1) !default;
$accent-color: rgba(#1d0017, 0.6) !default;

:root {
  font-family: $default-font-family;
  color: $accent-color;
  background-color: $surface-color;
}
body {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 4fr;
}

.header {
  background-color: $primary-color;
  border-radius: 0 0 25px 25px;
  height: 20vh;
  display: grid;
  overflow: clip;
  place-content: center;
  box-shadow: 0px 2px 5px rgba(#b9a4a4, 0.9);
  h1 {
    max-width: 100%;
    font-size: clamp(15px, 4rem, 5rem);
  }
}

.overlay {
  grid-column: 1/2;
  grid-row: 2/3;
  backdrop-filter: blur(10px);
  visibility: hidden;
}

.playing-field {
  grid-column: 1/2;
  grid-row: 2/3;
  
  display: grid;
  grid-template-areas: "one one board board board two two"
}

.player-one {
  grid-area: one;
  height: 20vmin;
  width: 20vmin;
}

.player-two {
  grid-area: two;
  height: 20vmin;
  width: 20vmin;
}

.game-board {
  grid-area: board;
  text-align: center;
  display: grid;
  background-color: $secondary-color;
  box-shadow: 0px 0px 55px $secondary-color;
  height: 60vmin;
  width: 60vmin;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-self: center;
  place-content: center;
  overflow:clip;
  border-radius: 40px;
  gap: 2px;
  background-color:$accent-color;
  //visibility: hidden;
}

.cell {
    min-height: 20vmin;
    min-width: 20vmin;
  background-color: $secondary-color;
  display: grid;
  margin-top: auto;
 
  span {
    align-self: center;
    font-size: clamp(10px, 3rem, 4rem);
    color: $accent-color;
  }
}
